* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background-color: #F1F1F1;
}

nav {
	text-align: center;
	padding: 3% 0% 0% 0%;
}

nav li {
	display: inline;
}

nav li a {
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	color: #545454;
	font-size: 1em;
	padding: 0% 5% 0% 5%
}

.top-banner {
	background-color: #0091ab;
	margin: 7% 0% 10% 0%;
	text-align: center;
	padding: 2% 2%;
}

.circle-icon {
	display: none;
}

h1 {
	color: white;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
}

.top-banner p {
	text-align: center;
	color: white;
	padding: 0% 2%;
}

h2 {
	font-family: 'Nunito', sans-serif;
	color: #0091ab;
	padding: 2% 0 0 0;
}

h3 {
	font-family: 'Nunito', sans-serif;
	color: #545454;
}

p {
	font-family: 'Nunito', sans-serif;
	color: #545454;
}

section  {
	/*
	display: flex;
	height: 50vh; */
	width: 60%;
	background-color: #F5F5F5;
	padding: 0% 5% 0% 0%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid #F5F5F5;
	border-radius: 25px;
	box-shadow: 0px 0px 8px  #E6E6E6;
	overflow: auto;
}


section .experience-box  {
	width: 60%;
	background-color: #F5F5F5;
	padding: 0% 5% 0% 0%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid #F5F5F5;
	border-radius: 25px;
	box-shadow: 0px 0px 8px  #E6E6E6;
}


.left-image-1 {
	background-image: url("images/parkell-box.jpg");
	flex-shrink: 1;
	height: 0%;
	width: 0%;
	background-repeat: no-repeat;
}

.left-image-2 {
	background-image: url("images/parking-box.jpg");
	flex-shrink: 1;
	height: 0%;
	width: 0%;
	background-repeat: no-repeat;
}

article {
	padding: 3% 5% 5% 5%;
}

section article ul {
	text-align: center;
	margin: 3% 0%;
	display: flex;
  flex-wrap: wrap;
}

section li {
	font-family: 'Nunito', sans-serif;
	color: #0091ab;
	font-size: .75em;
	list-style: none;
	padding: 2% 3%;
	border: 1px solid #0091ab;
	border-radius: 6px;
	margin: 1% 1% 1% 0%;
	flex: 0 0 auto;
}

.learn-more {
  margin-top: 2%;
}

.learn-more a {
  font-family: 'Nunito', sans-serif;
  color: #a83e3e;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.learn-more a:hover {
  color: #6b1010;
}

section li a {
	text-decoration: none;
}

video {
	width: 100%;
	height: 160px;
	margin-bottom: 3%;
}

figure img {
	display: block;
	width: 100%;
	margin: auto;
  margin: 2% 0 2% 0;
}

figcaption {
	font-family: 'Nunito', sans-serif;
	color: #545454;
	text-align: center;
	margin: 1% 0% 3% 0%;
}

figure .bottom-section-figure img {
	padding: 0 0 3% 0;
}

footer {
	text-align: center;
	padding: 4% 0%;
}
footer p {
	font-size: .75em;
	padding-bottom: 1%;
}

footer a {
	text-decoration: none;
	font-size: 1.25em;
	color: #545454;
}

footer h6 {
	font-family: 'Nunito', sans-serif;
	color: #545454;
	margin-top: 2%;
}

footer img {
	width: 8%;
	margin: 2%;
}


.listing h3 {
		padding: 2% 0% 0% 0%;
}

.listing ul {
	margin: 2% 0% 5% 0%;
}

@media (min-width: 320px) {
	nav {
		text-align: center;
		padding: 5% 0% 0% 0%;
	}

	section {
	width: 85%;
	padding: 0% 2%;
	}


@media (min-width: 550px) {
	footer img {
		width: 4%;
		margin: .5%;
	}
}

@media (min-width: 585px) and (max-width: 889px) {
	section li {
		padding: 1% 0%;
		margin: 1% 1% 1% 0%;
		flex: 0 0 25%;
		font-size: .85em;
	}

}

@media (min-width: 630px) {
	.top-banner {
		background-color: #0091ab;
		margin: 4% 0% 6% 0%;
		text-align: center;
		padding: 4% 4%;
	}

	.circle-icon {
		display: block;
		width: 15%;
		margin: auto;
	}

	h1 {
		color: white;
		font-family: 'Nunito', sans-serif;
		font-weight: lighter;
		font-size: 3em;
	}

	.top-banner p {
		text-align: center;
		color: white;
		padding: 0% 2%;
		font-size: 1.2em;
	}

	figure img {
		width: 70%;
	}
}



@media (min-width: 890px) {
	.experience-box  {
		display: block;
		height: auto;
	}

	nav li a {
		font-size: 1.15em;
	}

	section  {
		display: flex;
		height: 50vh;
		width: 80%;
		padding: 0%;
	}

	section article ul {
		display: block;
		text-align: left;
		margin: 3% 0%;
	}

	section li {
		list-style: none;
		padding: 1% 2%;
		margin: 1% 1% 1% 0%;
		display: inline;
	}

	.left-image-1 {
		background-image: url("images/parkell-box.jpg");
		flex-shrink: 1;
		height: 100%;
		width: 100%;
		min-width: 150px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.left-image-2 {
		background-image: url("images/parking-box.jpg");
		flex-shrink: 1;
		height: 100%;
		width: 100%;
		min-width: 150px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	figure img {
		width: 40%;
	}

	aside h3 {
		margin: 3% 0% 1% 0%;
	}

	figcaption {
		margin: 1% 0% 0% 0%;
	}

}
